name{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

simple_duck{
    display: flex;
}

body{
    margin: 0;
}

information_section{
    display: flex;
    justify-content: space-evenly;
    
    Acc_info{
        background-color: aquamarine;
        display: flex;
        justify-content: space-around;

        Acc_pic{
            display: flex;
        }
    }

    balance_information{
        background-color: honeydew;
        display: flex;
        justify-content: space-around;

        balance_pic{
            display: flex;
        }
    }

    bankOPE{
        background-color: darkkhaki;
        display: flex;
        justify-content: space-around;
    }
}
